<h1>Campaigns</h1>
<% @campaigns.items.each do |campaign| %>
    <div class="campaign">
      <div class="id"><%= campaign.id %></div>
      <div class="name"><%= campaign.name %></div>
    </div>
<% end %>
