<h4>Welcome to the Usabilla API Example Rails App!</h4>
You can access the API pages by using to the following routes;
  <ol style="list-style-type: circle;">
    <li>/api/button</li>
    <li>/api/button/:id/feedback</li>
    <li>/api/campaign</li>
    <li>/api/campaign/:id/results</li>
  </ol>

For the official API documentation, please refer to the <%= link_to 'Usabilla API', 'https://usabilla.com/api/' %>.