<h4>Welcome to the Usabilla API Example Rails App!</h4>
You can access the API pages by using to the following routes;
<ol style="list-style-type: circle;">
  <li>/api/button</li>
  <li>/api/button/:id/feedback</li>
  <li>/api/campaign</li>
  <li>/api/campaign/:id/results</li>
</ol>

<div>(Note that these are only a few of the available API's. The ones featured above are all a part of the Usabilla Websites API's.)</div>
<div>For the official API documentation, please refer to the <%= link_to 'Usabilla API', 'https://usabilla.com/api/' %>.</div>
